version: "3.8"
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: restaurant
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run dev"
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/restaurant
      - REDIS_URL=redis://redis:6379
      - SESSION_SECRET=your-session-secret
      - JWT_SECRET=12591bba551c99e88438ffcc01568505987c7679c93c314de879a0d477b19068
      - REFRESH_SECRET_KEY=705a8a9f1395aa9320b8137b710da1de7684c20f085f4bc5ca7c0caab3d656b2
      - GOOGLE_CLIENT_ID=674205058712-4qb2c12h7ej2csntjknq8jlvubutqjk7.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=dls23krb@gmail.com
      - SMTP_PASS=jghjdpztllwvuxna
      - FRONTEND_URL=http://localhost:3000
    depends_on:
      - postgres
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:4000/api/v1
    depends_on:
      - backend

volumes:
  pgdata:
