@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", "sans-serif";

  --color-primary: #ec6d13;
  --color-primary-hover: #d55f0d;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
  --color-text-main: #111418;
  --color-text-secondary: #637588;
  --color-border-light: #e6e8eb;
  --color-input-bg: #f0f2f4;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-text-main;
  }
}