@import "tailwindcss";

@theme {
  --color-primary: #ec6d13;
  --color-primary-hover: #d55f0d;
  
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
  
  --color-text-main: #111418;
  --color-text-secondary: #637588;
  
  --color-border-light: #e6e8eb;
  --color-input-bg: #f0f2f4;

  --font-display: "Work Sans", sans-serif;
}

@layer base {
  body {
    @apply font-display bg-background-light text-text-main;
  }
}